
.vs/
Zeth.Developer.Model/bin/
Zeth.Developer.Model/obj/
Zeth.Developer.View/bin/
Zeth.Developer.View/obj/
Zeth.Developer.ViewModel/bin/
Zeth.Developer.ViewModel/obj/
Zeth.Developer/bin/
Zeth.Developer/obj/
